/* HomePage.css */

.min-h-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.bg-custom-background {
    background-image: url(https://cdn.pixabay.com/photo/2017/02/07/09/02/wood-2045380_1280.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgb(1, 0, 8);
    background-attachment: fixed;
    background-size: cover;
}

.user-section {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.mybutton {
    margin-top: 10px; /* Adjust the margin as needed */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db; /* Set your preferred button background color */
    color: #ffffff; /* Set your preferred button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mybutton:hover {
    background-color: #2980b9; /* Set your preferred button background color on hover */
}

h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
