.flex.justify-center.items-center.h-screen {
    background-image: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgb(1, 0, 8);
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

