<persistence xmlns="http://java.sun.com/xml/ns/persistence"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation=
        "http://java.sun.com/xml/ns/persistence
        http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
        version="2.0">
    <persistence-unit name="PAP" transaction-type="RESOURCE_LOCAL">
        <!-- Persistence provider -->
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <!-- Entity classes -->
        <class>pap.Person</class>

        <properties>
            <!-- The JDBC URL to the database instance -->
            <property name="javax.persistence.jdbc.url"
                value="jdbc:mysql://localhost:3306/pap" />
            <!-- The database username -->
            <property name="javax.persistence.jdbc.user" value="pap" />
            <!-- The database password -->
        <property name="javax.persistence.jdbc.password" value="pap.2020.PAP"/>

            <property name="hibernate.hbm2ddl.auto" value="update" />
        </properties>
    </persistence-unit>
</persistence>